<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>О нас</title>
    <link th:href="@{/css/about.css}" rel="stylesheet"/>
</head>
<body>
<div class="results">
    <video autoplay loop class="results-background-video" muted playsinline>
        <source src="/videos/background-video.mp4" type="video/mp4">
    </video>
    <div class="results-window">
        <h2 class="results-window-title">О нас</h2>
        <div>
            В данном портале Вы можете найти различные упражнения по финансовой грамотности с ответами. В том числе, есть
            раздел с теоретической информацией и видеоматериалами. Есть возможность отслеживать статистику
            по пройденным упражнениям.
        </div>
        <div><a href="https://www.videvo.net">Фоновое видео было взято с данного сайта</a></div>
        <div><a href="https://www.educenter.ru/netcat_files/userfiles/6/Uchebnoe%20posobie%20(3.22)_5redaktsiya.pdf">Теоретическая справка взята с данного ресурса</a></div>
    </div>
</div>
</body>
</html>