<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Основы финансовой грамотности</title>
  <link th:href="@{/css/theory.css}" rel="stylesheet"/>
</head>
<body>
<div class="results">
  <video autoplay loop class="results-background-video" muted playsinline>
    <source src="/videos/background-video.mp4" type="video/mp4">
  </video>
  <div class="results-window">
    <h2 class="results-window-title">Основы финансовой грамотности</h2>
    <div>
      1. Выделяют четыре вида денег. В настоящее время активно используются
      наличные и безналичные деньги. Товарные деньги ушли в прошлое. В
      ближайшее время всё большее значение будут приобретать электронные
      деньги.
    </div>
    <div>
      2. С течением времени деньги меняют свою покупательную способность.
      Обесценение денег называется инфляцией, а усиление их покупательной
      способности – дефляцией. Индекс потребительских цен – принятый
      способ измерять общий уровень цен потребителей.
    </div>
    <div>
      3. Для финансового благополучия человека и семьи необходимо
      осуществлять финансовое планирование. Поскольку с течением жизни
      структура доходов и расходы семьи и человека претерпевают изменения,
      для эффективного планирования необходимо определить краткосрочные,
      среднесрочные и долгосрочные цели, для достижения которых разделить
      имеющиеся в распоряжении средства на текущие, резервные и
      инвестиционные.
    </div>
    <div>
      4. Требования к финансовой цели в рамках ФП – реалистичность с учетом
      образа жизни человека, конкретность, должна иметь ориентир
      исполнения по времени.
    </div>
  </div>
</div>
</body>
</html>