<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Финансы и предпринимательство</title>
  <link th:href="@{/css/theory.css}" rel="stylesheet"/>
</head>
<body>
<div class="results">
  <div class="results-window">
    <h2 class="results-window-title">Финансы и предпринимательство</h2>
    <div>
      1. Предпринимательство – выражение экономической активности
      инициативных людей, готовых ради прибыли идти на риски,
      осуществляется в малом, среднем и крупном бизнесе.
    </div>
    <div>
      2. Малое предпринимательство функционирует в основном в форме ИП или
      ООО.
    </div>
    <div>
      3. ИП отвечает по обязательствам своим имуществом, а ООО размером
      уставного капитала, но только в случае правильно проведенной
      процедуры закрытия.
    </div>
    <div>
      4. Бизнес-планирование и финансовое планирование – неотъемлемый
      элемент успешной предпринимательской деятельности во всех сферах,
      инструмент снижения предпринимательских рисков.
    </div>
  </div>
  <video autoplay loop class="results-background-video" muted playsinline>
    <source src="/videos/background-video.mp4" type="video/mp4">
  </video>
</div>
</body>
</html>