<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Финансовые инструменты</title>
  <link th:href="@{/css/theory.css}" rel="stylesheet"/>
</head>
<body>
<div class="results">
  <video autoplay loop class="results-background-video" muted playsinline>
    <source src="/videos/background-video.mp4" type="video/mp4">
  </video>
  <div class="results-window">
    <h2 class="results-window-title">Фондовый и валютный рынки, финансовые инструменты</h2>
    <div>
      1. Финансовый рынок – это совокупность экономических отношений его
      участников по поводу купли-продажи различных финансовых
      инструментов и оказания разнообразных финансовых услуг. Хорошая
      работа финансового рынка позволяет превратить сбережения в
      инвестиции и повысить эффективность экономики.
    </div>
    <div>
      2. Можно выделить такие сегменты финансового рынка, как рынок
      депозитов (банковских вкладов), рынок кредитов, валютный рынок,
      рынок ценных бумаг (фондовый рынок), рынок производных финансовых
      инструментов, страховой рынок, рынок коллективных инвестиций и др.
    </div>
    <div>
      3. Для большинства сегментов финансового рынка характерна активная
      роль финансовых институтов. Они выступают либо продавцами
      финансовых активов или услуг, либо посредниками между другими
      участниками рынка, либо образуют инфраструктуру рынка. Они
      повышают эффективность функционирования рынков, зарабатывая
      комиссионные за свою работу. Все больше услуг на финансовых рынках
      оказывается в электронном виде.
    </div>
    <div>
      4. Важнейшее правило функционирования финансовых рынков –
      взаимосвязь между уровнем риска актива (операции) и уровнем
      ожидаемой доходности: как правило, чем выше ожидаемая доходность,
      тем выше риск.
    </div>
  </div>
</div>
</body>
</html>