<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Инвестиции</title>
  <link th:href="@{/css/exercises/task.css}" rel="stylesheet"/>
</head>
<body>
<div class="form">
  <video autoplay loop class="form-background-video" muted playsinline>
    <source src="/videos/background-video.mp4" type="video/mp4">
  </video>
  <div class="form-title">Решите задание</div>
  <form th:action="@{/exercises/investment}" th:object="${task}" th:method="patch">
    <div class="form-content">
      <div class="form-field">
        <label>Дивиденды по акции компании «Никель» составляют
          171 рубль, а по акции компании «Золото» – на 17 рублей больше.
          Какой доход получит Михаил, акционер этих компаний, если в
          его инвестиционном портфеле 7 акций компании «Никель» и 3
          акции компании «Золото»? (в ответе укажите только число)
        </label>
        <input type="text" th:field="*{answer}" class="form-fields-input">
        <div style="color:red" th:if="${#fields.hasErrors('answer')}" th:errors="*{answer}"></div>
      </div>

      <div class="form-field">
        <input type="submit" value="Подтвердить" class="form-input-button">
      </div>
      <div class="font-link">
        <a href="https://fincult.info/upload/iblock/223/Sbornik_zadach_5_9.pdf">Задание взято из данного ресурса</a>
      </div>
    </div>
  </form>
</div>
</body>
</html>