<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Войти</title>
    <link th:href="@{/css/login.css}" rel="stylesheet"/>
</head>
<body>
<div class="form">
    <video autoplay loop class="form-background-video" muted playsinline>
        <source src="/videos/background-video.mp4" type="video/mp4">
    </video>
    <div class="form-title">Войти</div>
    <form th:action="@{/login}" th:object="${user}" th:method="patch">
        <div class="form-content">
            <div class="form-field">
                <label>Электронная почта</label>
                <input type="text" th:field="*{email}" class="form-fields-input">
                <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
            </div>

            <div class="form-field">
                <label>Введите пароль</label>
                <input type="password" th:field="*{password}" class="form-fields-input">
                <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
            </div>

            <div class="form-field">
                <input type="submit" value="Подтвердить" class="form-input-button">
            </div>
            <div class="font-link">
                <a href="/register">Зарегистрироваться</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>