<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Страхование как механизм снижения рисков</title>
  <link th:href="@{/css/theory.css}" rel="stylesheet"/>
</head>
<body>
<div class="results">
  <video autoplay loop class="results-background-video" muted playsinline>
    <source src="/videos/background-video.mp4" type="video/mp4">
  </video>
  <div class="results-window">
    <h2 class="results-window-title">Страхование как механизм снижения рисков</h2>
    <div>
      1. В течение жизни человек подвержен влиянию различных рисков, от
      которых наиболее эффективно можно защититься путём страхования от
      их наступления.
    </div>
    <div>
      2. Страхование основывается на распределении рисков среди большого
      количества людей, когда из их сравнительно небольших страховых
      взносов формируется фонд, откуда потом осуществляются выплаты тем,
      кто пострадал негативных событий.
    </div>
    <div>
      3. Существуют обязательные и добровольные виды страхования.
      Обязательное страхование может быть установлено только
      федеральными законами (например, страхование гражданской
      ответственности владельцев автотранспортных средств).
    </div>
    <div>
      4. Застраховать можно жизнь, здоровье, имущество (в том числе убытки), а
      также свою ответственность.
    </div>
  </div>
</div>
</body>
</html>