<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Личный финансовый план</title>
  <link th:href="@{/css/exercises/personal-finance-plan.css}" rel="stylesheet"/>
</head>
<body>
<div class="form">
  <video autoplay loop class="form-background-video" muted playsinline>
    <source src="/videos/background-video.mp4" type="video/mp4">
  </video>
  <div class="form-title">Решите задание</div>
  <form th:action="@{/exercises/personal-finance-plan}" th:object="${task}" th:method="patch">
    <div class="form-content">
      <div class="form-field">
        <label>Наша семья состоит из пяти человек. Мама и папа работают,
          бабушка на пенсии, старший брат учится в университете. Я пока
          ученик 5-го класса. Наш общий семейный доход состоит из заработной платы родителей, пенсии бабушки и
          стипендии брата. Зарплата папы равна 36 000 рублей, мамина зарплата составляет 4/5
          папиной. Пенсия бабушки – 14 500 рублей, а стипендия брата
          равна половине пенсии бабушки. Чему равен доход нашей семьи? (в ответе укажите только число)</label>
        <input type="text" th:field="*{answer}" class="form-fields-input">
        <div style="color:red" th:if="${#fields.hasErrors('answer')}" th:errors="*{answer}"></div>
      </div>

      <div class="form-field">
        <input type="submit" value="Подтвердить" class="form-input-button">
      </div>
      <div class="font-link">
        <a href="https://fincult.info/upload/iblock/223/Sbornik_zadach_5_9.pdf">Задание взято из данного ресурса</a>
      </div>
    </div>
  </form>
</div>
</body>
</html>