<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Справочная информация</title>
    <link th:href="@{/css/theory-menu.css}" rel="stylesheet"/>
</head>
<body>
<div class="results">
    <video autoplay loop class="results-background-video" muted playsinline>
        <source src="videos/background-video.mp4" type="video/mp4">
    </video>
    <div class="results-window">
        <h2 class="results-window-title">Выберите категорию</h2>
        <a class="results-window-button" href="theory/beginning" type="button">Основы финансовой грамотности</a>
        <a class="results-window-button" href="theory/finance-tools" type="button">Фондовый и валютный рынки. Финансовые инструменты</a>
        <a class="results-window-button" href="theory/low-risks" type="button">Страхование как механизм снижения рисков</a>
        <a class="results-window-button" href="theory/entrepreneurship" type="button">Финансы и предпринимательство</a>
    </div>
</div>
</body>
</html>